@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --gradient: #00467f;
    --background: 220 100% 98.5%;
    --foreground: 220 10% 1%;

    --muted: 220 13% 86.5%;
    --muted-foreground: 220 5% 42.5%;

    --popover: 220 28% 93.25%;
    --popover-foreground: 220 10% 1.25%;

    --card: 220 28% 93.25%;
    --card-foreground: 220 10% 1.25%;

    --border: 220 75% 60%;
    --input: 220 75% 60%;

    --primary: 220 100% 25%;
    --primary-foreground: 220 2% 92.5%;

    --secondary: 220 21% 82%;
    --secondary-foreground: 220 7% 12.5%;

    --accent: 220 21% 82%;
    --accent-foreground: 220 7% 12.5%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 220 100% 25%;

    --radius: 0.5rem;
  }

  .dark {
    --gradient: #1fa2ff;

    --background: 218 65% 4.48%;
    --foreground: 218 10% 97.8%;

    --muted: 218 61% 8%;
    --muted-foreground: 218 10% 55.6%;

    --popover: 218 70% 5.040000000000001%;
    --popover-foreground: 218 10% 97.8%;

    --card: 218 70% 5.040000000000001%;
    --card-foreground: 218 10% 97.8%;

    --border: 218 61% 22.92%;
    --input: 218 61% 22.92%;

    --primary: 198 75% 56%;
    --primary-foreground: 218 10% 5.6000000000000005%;

    --secondary: 218 61% 8%;
    --secondary-foreground: 218 10% 97.8%;

    --accent: 218 61% 8%;
    --accent-foreground: 218 10% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 218 10% 97.8%;

    --ring: 198 75% 56%;

    --radius: 0.5rem;
  }
}

.bg-gradient {
  background: var(--gradient);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  @media (max-height: 560px) {
    .rotated-max-md-h-\[45vh\] {
      @apply h-[45vh];
    }

    .rotated-max-md-py-3 {
      @apply py-3;
    }

    .rotated-max-md-flex {
      @apply flex;
    }

    .rotated-max-md-mx-2 {
      @apply mx-2;
    }

    .rotated-max-md-size-5 {
      @apply size-5;
    }

    .rotated-max-md-hidden {
      @apply hidden;
    }

    .rotated-max-md-mx-auto {
      @apply mx-auto;
    }

    .rotated-max-md-mt-0 {
      @apply mt-0;
    }

    .rotated-max-md-hidden {
      @apply hidden;
    }

    .rotated-max-md-bg-muted {
      @apply bg-muted;
    }
  }

  [data-sonner-toast] [data-close-button] {
    @apply text-black;
  }
}
